# URL du GTFS
GTFS_URL = 
# Connexion PostgreSQL admin (base 'postgres') pour créer les autres bases
ADMIN_DATABASE_URL = postgresql://user:password@localhost:5432/postgres
# Connexion PostgreSQL vers le registre des versions
REGISTRY_DATABASE_URL = postgresql://user:password@localhost:5432/gtfs_infos
